body {
  font-family: sans-serif;
  background: linear-gradient(135deg,#1e3c72,#2a5298);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

.container {
  background:white;
  padding:20px;
  border-radius:15px;
  width:320px;
  text-align:center;
}

input,button {
  width:90%;
  padding:10px;
  margin:5px;
  border-radius:10px;
  border:none;
}

button {
  background:#5b86e5;
  color:white;
  font-weight:bold;
}

ul { list-style:none; padding:0; }

li {
  background:#eee;
  margin:5px;
  padding:8px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.small { font-size:12px; }

.delete { background:red; color:white; border:none; }
.edit { background:orange; color:white; border:none; margin-right:5px; }

.red { color:red; }
.green { color:green; }